<div [ngClass]="theme">
  <div class="py-6 mx-auto">
    <div class="max-w-3xl px-10 py-6 mx-auto bg-gray-50">
      <img
        class="object-contain object-center w-60 m-auto shadow-sm max-h-72 h-52"
        src="../../assets/img/{{ case?.image }}"
      />
      <div class="flex items-center justify-start flex-wrap mt-4 mb-4">
        <span *ngFor="let tag of case.tags" class="px-2 py-1 mt-2"
          ><img src="{{ tag.img }}" alt="badge"
        /></span>
      </div>
      <div class="mt-2">
        <h1 class="text-4xl leading-snug">
          {{ case.description }}
        </h1>
      </div>

      <div class="max-w-3xl mx-auto text-2xl mt-4 h-full">
        <div>
          <p class="mt-2 py-8 leading-9">
            {{ case.content }}
          </p>
        </div>

        <div>
          <p class="mt-2 text-lg">
            Company: <span>{{ case.company }}</span>
          </p>
          <p class="mt-2 pb-8 text-lg">
            Period of contribution:
            <span
              >{{ case.start | date }} at
              {{ caseEnd === "now" ? caseEnd : (caseEnd | date) }}</span
            >
          </p>
        </div>
      </div>

      <button
        class="bg-gradient-to-r from-cyan-400 to-blue-400 hover:scale-105 drop-shadow-md shadow-cla-blue px-10 py-1 rounded-lg"
        [routerLink]="'/'"
      >
        Back
      </button>
    </div>
  </div>
</div>
