<div [ngClass]="theme">
  <div class="py-6 mx-auto">
    <div class="max-w-6xl px-10 py-6 mx-auto bg-gray-50">
      <img
        class="object-contain object-center w-full shadow-sm max-h-72"
        src="../../assets/img/{{ case?.image }}"
      />
      <div class="flex items-center justify-start flex-wrap mt-4 mb-4">
        <span
          *ngFor="let tag of case.tags"
          class="px-2 py-1 mt-2"
          ><img src="{{ tag.img }}" alt="badge"
        /></span>
      </div>
      <div class="mt-2">
        <h1 class="text-4xl">
          {{ case.description }}
        </h1>
      </div>

      <div
        class="max-w-4xl px-10 mx-auto text-2xl text-gray-700 mt-4 rounded bg-gray-100 h-full"
      >
        <div>
          <p class="mt-2 p-8">
            {{ case.content }}
          </p>
        </div>

        <div>
          <p class="mt-2 pt-8 pl-8 text-lg">
            Company: <span>{{ case.company }}</span>
          </p>
          <p class="mt-2 pl-8 pb-8 text-lg">
            Period of contribution:
            <span>{{ case.start | date }} at {{ case.end | date }}</span>
          </p>
        </div>
      </div>

      <button
        class="bg-gradient-to-r from-cyan-400 to-blue-400 hover:scale-105 drop-shadow-md shadow-cla-blue px-4 py-1 rounded-lg"
        [routerLink]="'/'"
      >
        Back
      </button>
    </div>
  </div>
</div>
