<div class="w-full min-h-screen m-0">
  <div class="bg-zinc-900" [ngClass]="theme">
    <div class="container mx-auto px-4">
      <nav>
        <div class="flex items-center justify-between py-4">
          <div class="text-gray-50 fabricio-icon">fabriciocardoso.dev</div>
        </div>
      </nav>
      <section class="welcome">
        <div class="banner flex justify-center items-center">
          <h1 class="text-gray-50 text-7xl text-center mobile:text-6xl mobile:px-2">
            Hi, My name is Fabricio! <br />I'm <span id="typewriter"></span>
          </h1>
        </div>
      </section>
      <section class="technologies">
        <p class="text-zinc-50 text-center pb-14">
          Select a language to start:
        </p>
        <div class="languages flex justify-center items-center mobile:flex-col">
          <div class="pb-12 px-16 csharp cursor-pointer" (click)="changeTheme('csharp-theme')">
            <img
              class="w-24"
              src="./../../assets/img/csharp.svg"
              alt="csharp"
            />
            <p class="text-zinc-50 text-center mt-4">CSharp</p>
          </div>

          <div
            class="pb-12 px-16 typescript cursor-pointer"
            (click)="changeTheme('typescript-theme')"
          >
            <img
              class="w-24"
              src="./../../assets/img/typescript.svg"
              alt="typescript"
            />
            <p class="text-zinc-50 text-center mt-4">Typescript</p>
          </div>

          <div
            class="pb-12 px-16 javascript cursor-pointer"
            (click)="changeTheme('javascript-theme')"
          >
            <img
              class="w-24"
              src="./../../assets/img/javascript.svg"
              alt="javascript"
            />
            <p class="text-zinc-50 text-center mt-4">Javascript</p>
          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font">
        <app-card [cases]="filteredCases" *ngIf="cases"></app-card>
      </section>
    </div>
  </div>
</div>
